@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Web_day_tieng_Anh.Models.Course
@{
    ViewData["Title"] = "Display";
}
<link href="~/admin/css/styles.css" rel="stylesheet">
<div style="background-color: #fff;">
    <h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CourseName)
    </dt>
    <dd class="col-sm-10 pl-8" style="margin-bottom: 10px;">
        @Html.DisplayFor(model => model.CourseName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CourseDescription)
    </dt>
    <dd class="col-sm-10 pl-8" style="margin-bottom: 10px;">
        @Html.Raw(Model.CourseDescription)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Level)
    </dt>
    <dd class="col-sm-10 pl-8" style="margin-bottom: 10px;">
        @Html.DisplayFor(model => model.Level)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10 pl-8" style="margin-bottom: 10px;">
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Ratings)
    </dt>
    <dd class="col-sm-10 pl-8" style="margin-bottom: 10px;">
        @Html.DisplayFor(model => model.Ratings)
    </dd>
</dl>
        </div>
        <div class="col-sm-4 align-self-start">
            <ul style="list-style-type: none; margin: 0; padding: 0;">
                <li>
                    <a asp-area="Lecturers" asp-controller="Tests" asp-action="Index" asp-route-courseId="@Model.CourseId" class="btn btn-primary mx-2" style="margin-bottom: 10px; color: #000;">View All Test</a>
                </li>
                <li>
                    <a asp-controller="Tests" asp-action="Add" asp-route-courseId="@Model.CourseId" class="btn btn-primary mx-2" style="margin-bottom: 10px; color: #000;">Add Test</a>
                </li>
                <li>
                    <a asp-area="Lecturers" asp-controller="Lessons" asp-action="Index" asp-route-courseId="@Model.CourseId" class="btn btn-primary mx-2" style="margin-bottom: 10px; color: #000;">View All Lessons</a>
                </li>
                <li>
                    <a asp-controller="Lessons" asp-action="Add" asp-route-courseId="@Model.CourseId" class="btn btn-primary mx-2" style="margin-bottom: 10px; color: #000;">Add Lessons</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-action="Update" asp-route-id="@Model.CourseId" class="btn btn-info mx-2" style="color: #000">Edit</a></li>
        <a asp-action="Delete" asp-route-id="@Model.CourseId" class="btn btn-danger mx-2" style="color: #000">Delete</a>
        <a asp-action="Index" class="btn btn-warning mx-2" style="color: #000">Back to List</a>
    </div>
</div>



