@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            @* <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                <label asp-for="Input.FullName">FullName</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
                 <form id="checkoutForm" asp-action="Checkout" method="post" class="checkout-form">
                                   
                    <div class="form-group">
                        <label for="Notes">Số điện thoại</label>
                        <textarea id="Notes" name="Notes" class="form-control" required></textarea>
                        <!-- Thêm một phần tử span để hiển thị thông báo lỗi -->
                        <span id="phoneError" style="color: red; display: none;">Số điện thoại phải chứa 11 hoặc 12 chữ số và không có ký tự khác.</span>
                    </div>
                 </form>
            </div> *@

            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                <label asp-for="Input.FullName">FullName</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control">
                    <option disabled selected>-Select Role-</option>
                    
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@* <script>
    document.getElementById('checkoutForm').addEventListener('submit', function (event) {
        var phoneNumber = document.getElementById('Notes').value.trim(); // Lấy nội dung nhập vào và loại bỏ các khoảng trắng ở đầu và cuối
        var phoneNumberPattern = /^\d{11,12}$/; // Mẫu để kiểm tra nội dung nhập vào là 11 hoặc 12 chữ số

        // Kiểm tra xem nội dung nhập vào có phải là số và có đủ 11 hoặc 12 chữ số không
        if (!phoneNumberPattern.test(phoneNumber)) {
            // Nếu không đạt yêu cầu, hiển thị thông báo lỗi và ngăn việc gửi form
            document.getElementById('phoneError').style.display = 'inline';
            event.preventDefault();
        }
    });
</script> *@