@model IEnumerable<Web_day_tieng_Anh.Models.Question>

@{
    ViewData["Title"] = "Index";
}
<link href="~/activetests/tests.js" rel="stylesheet">
<h1>Các câu hỏi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Correct Answer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Raw(item.QuestionContent.Replace("<p>", "").Replace("</p>", ""))</td>
                <td>
                    <ul>
                        @foreach (var answer in item.Answers)
                        {
                            <li>
                                @Html.Raw(answer.AnswerContent.Replace("<p>", "").Replace("</p>", ""))
                                @if (answer.IsCorrect)
                                {
                                    @* <strong>(Correct)</strong> *@
                                }
                            </li>
                        }
                    </ul>
                </td>
                <td id="correct-answer-@item.QuestionId">
                    @Html.Raw(item.Answers.FirstOrDefault(a => a.IsCorrect)?.AnswerContent?.Replace("<p>", "").Replace("</p>", ""))
                    @if (item.Answers.Any(a => a.IsCorrect))
                    {
                        @* <span>&#10003;</span> *@
                    }
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.QuestionId" asp-route-testId="@item.TestId" class="btn btn-primary mx-2" style="color: #000;">Edit</a> |
                    <a asp-action="Display" asp-route-id="@item.QuestionId" class="btn btn-primary mx-2" style="color: #000;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QuestionId" class="btn btn-primary mx-2" style="color: #000;">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Tests" asp-action="Display" asp-route-id="@Model.FirstOrDefault()?.TestId" class="btn btn-primary mx-2 mb-3" style="color: #000;">Back</a>
</div>

@section Scripts {
    <script>
        var serialNumbers = document.querySelectorAll('.serial-number');
        serialNumbers.forEach(function (element, index) {
            element.textContent = index + 1;
        });
    </script>
}
