@model Web_day_tieng_Anh.Models.Test

@{
    ViewData["Title"] = "Display";
}
<style>
    .custom-button {
        display: inline-block;
        padding: 10px 20px;
        border: 2px solid #00920B;
        background-color: #00920B;
        color: black;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
        border-radius: 5px;
    }

        .custom-button:hover {
            background-color: gray;
            color: white;
            text-shadow: 0 0 5px white;
        }
</style>

<div class="container-fluid px-4">
    <h1 class="mt-4">Display</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">My Test Detail</li>
    </ol>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.TestDescription)
        </dd>

    </dl>
</div>
<div>
    <a asp-controller="Tests" asp-action="Index" asp-route-courseId="@Model.CourseId" class="custom-button mx-2">Back to list</a>
    <a asp-controller="Questions" asp-action="Index" asp-route-TestId="@Model.TestId" class="custom-button mx-2">Questions</a>
</div>
</div>
