@model Web_day_tieng_Anh.Models.Lesson

@{
    ViewData["Title"] = "Display";
}

<h1>@Html.DisplayFor(model => model.LessonName)</h1>

<div>
    
    <hr/>

    <div class="col-5 align-items-center">
        <div class="row mt-2 justify-content-center">
            @if (!string.IsNullOrEmpty(Model.ImgUrl))
            {
                @* <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 250px;" />
                <source src="@Model.ImgUrl" type="video/mp4"> *@
                <video width="400" controls>
                    <source src="@Model.ImgUrl" type="video/mp4">
                   
                    Your browser does not support HTML video.
                </video>
            }
        </div>
        @* <div class="row  mt-2">
            @if (ViewBag.lsImage != null)
            {
                foreach (var img in ViewBag.lsImage)
                {
                    <img class="m-1" src="@img.Url" alt="Product Image" style="max-width: 100px; max-height: 100px" />
                }
            }
        </div> *@

    </div>

    <article>
        @Html.Raw(Model.LessonDescription)
    </article>
       
        
           
        
    
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.LessionId" class="btn btn-primary" style="color: #000">Edit</a> |
    
    <a asp-controller="Lessons" asp-action="Index" asp-route-courseId="@Model.CourseId" class="btn btn-warning" style="color: #000;">Back to list</a>
</div>

