@model IEnumerable<Web_day_tieng_Anh.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
    @* <a asp-action="Add">Create New</a> *@
    
    <a asp-controller="Lessons" asp-action="Add" asp-route-courseId="@Model.FirstOrDefault()?.CourseId" class="btn btn-primary mx-2">Add</a>
    
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Serial Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonName)
            </th>
            
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td class="serial-number"></td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonName)
            </td>
            
            <td>
                <a asp-action="Update" asp-route-id="@item.LessionId">Edit</a> |
                <a asp-action="Display" asp-route-id="@item.LessionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Courses" asp-action="Index">Back to List</a>
@section Scripts {
    <script>
        // Get all elements with class "serial-number"
        var serialNumbers = document.querySelectorAll('.serial-number');

        // Loop through each element and set its text content to the corresponding index + 1
        serialNumbers.forEach(function (element, index) {
            element.textContent = index + 1;
        });
    </script>
}
