@* @model IEnumerable<Web_day_tieng_Anh.Models.TestScore>

@{
    ViewData["Title"] = "Test Scores";
}

<h1>Test Scores</h1>

<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>TestId</th>
            <th>Điểm</th>
            <th>QuestionContent</th>
            <th>AnswerContent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.TestId</td>
                <td>@item.Points</td>
                <td>@item.QuestionContent</td>
                <td>@item.AnswerContent</td>
            </tr>
        }
    </tbody>
</table> *@
